<div class="overlay">
  <div class="contentWrapper" (click)="$event.stopPropagation()">
    <div class="contentLeft">
      <h1>{{ (index + 1).toString().padStart(2, '0') }}</h1>
      <h2>{{ singleProject.name }}</h2>
      <h3>What is this project about?</h3>
      <span>{{ singleProject.description }}</span>
      <div class="techDiv">
        @for (skill of singleProject.technologies; track skill) {
          <p>
            <img src="../../../assets/img/portfolio/{{ skill }}.svg" [alt]="skill + ' technology icon'">
            {{ skill }}
          </p>
        }
      </div>
      <div class="buttonDiv">
        <a [href]="singleProject.githubUrl" target="_blank" rel="noopener noreferrer">
          <button>GitHub</button>
        </a>
        <a [href]="singleProject.liveUrl" target="_blank" rel="noopener noreferrer">
          <button>Live Test</button>
        </a>
      </div>
    </div>
    <div class="contentRight">
      <p (click)="closeOverlay()">X</p>
      <div class="imageContainer">
        <img src="../{{ singleProject.previewImg }}" [alt]="singleProject.name + ' project screenshot'">
      </div>
      <button (click)="next.emit()">
        Next Project
        <img src="../../../assets/img/portfolio/arrow_right.svg" alt="Next project arrow">
      </button>
    </div>
  </div>
</div>

