<section>
  <h2>{{ "common.references" | translate }}</h2>
  <div class="slider-container">
    <div class="feedback-wrapper">
      @for (comment of feedbacks; track comment.name + comment.ref; let i = $index) {
      <div
        [ngClass]="getCardClass(i)"
        [class.active]="i === middleIndex"
      >
        <p>{{ comment.feedbackKey | translate }}</p>
        <div class="feedbackBottom">
          <div class="lineDiv"></div>
          <span>{{ comment.name }} - Frontend Developer</span>
        </div>
      </div>
      }
    </div>

    <img src="assets/img/feedback/quotes.svg" 
         alt="Quotes" 
         class="quotes-overlay">

    <div class="dots">
      <button class="nav-btn left-btn" (click)="slideRight()">&#10094;</button>
      @for (comment of feedbacks; track comment.name + comment.ref; let i = $index) {
      <span [class.active]="i === middleIndex"></span>
      }
      <button class="nav-btn right-btn" (click)="slideLeft()">&#10095;</button>
    </div>
  </div>
</section>