<section class="aboutMeSection">
    <div class="contentWrapper">
      <div class="imgDiv">
        <img src="../../assets/img/aboutME/profile.jpg" alt="Profile Picture" />
        <div class="lineDiv"></div>
      </div>
      
      <div class="aboutMeWrapper">
        <h3>Who I am</h3>
        <div class="aboutMeDiv">
          <h2>About me</h2>
          <span>Hey there! Mein Name ist Hans Wurst und ich bin ein kreativer Entwickler.</span>
          
          <div class="aboutMePs">
            <img src="../../assets/img/aboutME/marker.svg" alt="Location Marker" />
            <p>Where are you based? Ich bin derzeit in [Deine Stadt] ansässig.</p>
          </div>
  
          <div class="aboutMePs">
            <img src="../../assets/img/aboutME/brain.svg" alt="Brain Icon" />
            <p>Ich bin offen für neue Ideen und immer bereit zu lernen.</p>
          </div>
          
          <div class="aboutMePs">
            <img src="../../assets/img/aboutME/text_paragraph.svg" alt="Text Icon" />
            <p>Hier könnte ein ausführlicherer Text über mich stehen.</p>
          </div>
  
          <div class="aboutMePs">
            <img src="../../assets/img/aboutME/skills.svg" alt="Skills Icon" />
            <p>Meine Fähigkeiten: HTML, CSS, JavaScript, React und mehr.</p>
          </div>
  
          <div class="aboutMePs">
            <img src="../../assets/img/aboutME/hobbies.svg" alt="Hobbies Icon" />
            <p>In meiner Freizeit beschäftige ich mich mit Musik, Sport und Technologie.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
