<header>
  <div class="navBarWrapper">
    <div class="navbar">
      <button
        id="lang-btn"
        class="language-toggle"
        (click)="toggleLanguageColor()">
        <span #langBtnDe class="de">DE</span>
        <span #langBtnEn class="en active">EN</span>
      </button>
      <a href="">About me </a>
      <a href="">Skills </a>
      <a href="">Projects </a>
    </div>
    <img class="logo" src="./../../assets/img/1_header/1. Logo Mihaela_Melania.png" alt="" />
  </div>
</header>