<header>
  <div class="navBarWrapper">
    <div class="navBar">
      <button
        id="lang-btn"
        class="language-toggle"
        (click)="toggleLanguageColor()"
        (click)="changeLanguage()"
      >
        <span
          #langBtnDe
          [ngClass]="['de', activeLanguage === 'de' ? 'active' : '']"
          >DE</span
        >
        <span
          #langBtnEn
          [ngClass]="['en', activeLanguage === 'en' ? 'active' : '']"
          >EN</span
        >
      </button>
      <a href="#aboutMe">{{ "app-header.menuBtnAboutMe" | translate }} </a>
      <a href="#skills">{{ "app-header.menuBtnSkills" | translate }} </a>
      <a href="#projects">{{ "app-header.menuBtnProjects" | translate }} </a>
    </div>

    <a [routerLink]="''"
      ><img class="logo" src="../../../assets/img/navBar/logo.svg" alt=""
    /></a>
  </div>

  <div class="burgerMenu" (click)="toggleMobileMenu()">
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
  </div>

  @if(screenWidth <= 900){
  <div [ngClass]="['overlayBackground', mobileMenuActive ? 'active' : '']">
    <div class="menuOverlay">
      <div class="navBarMobile">
        <button
          id="lang-btn"
          class="language-toggle"
          (click)="toggleLanguageColor()"
          (click)="changeLanguage()"
        >
          <span
            #langBtnDeMobile
            [ngClass]="['de', activeLanguage === 'de' ? 'active' : '']"
            >DE</span
          >
          <span
            #langBtnEnMobile
            [ngClass]="['en', activeLanguage === 'en' ? 'active' : '']"
            >EN</span
          >
        </button>
        <a href="#aboutMe" (click)="toggleMobileMenu()"
          >{{ "app-header.menuBtnAboutMe" | translate }}
        </a>
        <a href="#skills" (click)="toggleMobileMenu()"
          >{{ "app-header.menuBtnSkills" | translate }}
        </a>
        <a href="#projects" (click)="toggleMobileMenu()"
          >{{ "app-header.menuBtnProjects" | translate }}
        </a>
      </div>
    </div>
  </div>
  }
</header>
