@import './variables.scss';
@import './mixins.scss';
@import './buttons.scss';

@mixin dFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin text($font-family, $font-size, $color, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}

h1, h2, h3 {
  margin: 0;
  color: $main-color;
}

button {
  width: 172px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid white;
  gap: 10px;
  background-color: transparent;
  color: white;
  font-family: Karla;
  
  &:hover {
    border: 2px solid $main-color;
    cursor: pointer;
  }
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/fira-code-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/karla-v31-latin-regular.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #08463b 0%, #1c1c1c 100%);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
  
  &:hover {
    background: linear-gradient(180deg, #1c1c1c 0%, #08463b 100%);
  }
}

* {
  scrollbar-color: #08463b #1c1c1c;
  scrollbar-width: thin;
}

.section-base {
  min-height: 900px;
  width: 100%;
  @include dFlex(center, center);
  padding: $section-padding 0;
  overflow: hidden;
}

.content-wrapper-base {
  max-width: 1440px;
  width: 100%;
  gap: 60px;
  margin: 0 40px;
  color: white;
  @include dFlex(space-between, center);
  position: relative;
  z-index: 1;
}

.text-wrapper-base {
  flex: 1;
  @include dFlex(flex-start, flex-start);
  flex-direction: column;
}