<section id="aboutMe" class="aboutMeSection">
    <div class="contentWrapper">
      <div class="imgDiv" data-aos="fade-right" data-aos-duration="800">
        <div class="imageContainer">
          <img src="../../assets/img/about-me/mihaela-aghirculesei(2).jpg" 
               alt="Mihaela Aghirculesei - Frontend Developer" 
               loading="lazy"
               decoding="async" />
        </div>
        <div class="lineDiv"></div>
      </div>
      
      <div class="aboutMeWrapper" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">
        <h3 class="subtitle">{{ 'aboutMe.subtitle' | translate }}</h3>
        <div class="aboutMeDiv">
          <h2 class="mainTitle">{{ 'aboutMe.mainTitle' | translate }}</h2>
          <span class="introText">{{ 'aboutMe.introText' | translate }}</span>
          
          <div class="aboutMePs" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
            <div class="iconWrapper">
              <img src="../../assets/img/about-me/about_me.svg" alt="Brain Icon" />
            </div>
            <p><strong>{{ 'aboutMe.visionTitle' | translate }}</strong> {{ 'aboutMe.visionText' | translate }}</p>
          </div>
  
          <div class="aboutMePs" data-aos="fade-up" data-aos-duration="600" data-aos-delay="500">
            <div class="iconWrapper">
              <img src="../../assets/img/about-me/location.svg" alt="Location Marker" />
            </div>
            <p><strong>{{ 'aboutMe.locationTitle' | translate }}</strong> {{ 'aboutMe.locationText' | translate }}</p>
          </div>
  
          <div class="aboutMePs" data-aos="fade-up" data-aos-duration="600" data-aos-delay="600">
            <div class="iconWrapper">
              <img src="../../assets/img/about-me/about_me_highlights.svg" alt="Skills Icon" />
            </div>
            <p><strong>{{ 'aboutMe.growthTitle' | translate }}</strong> {{ 'aboutMe.growthText' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
</section>