<section class="headLine">
  <div class="contentWrapper">
    <h2>{{ 'landingPage.title' | translate }}</h2>
    <h1 class="name-spectacular">Mihaela Melania</h1>
    <h1 class="name-spectacular surname">Aghirculesei</h1>

    <div class="buttonDiv">
      <a
        href="#projects"
        class="link-button animated"
        [attr.data-text]="'landingPage.checkWork' | translate"
      >
        <span>{{ 'landingPage.checkWork' | translate }}</span>
      </a>
      <a href="#contact" class="link-button animated" [attr.data-text]="'landingPage.contactMe' | translate">
        <span>{{ 'landingPage.contactMe' | translate }}</span>
      </a>
    </div>

    <div class="edgeLine-left">
      <button class="arrowDown" (click)="scrollToAboutMe()" type="button">
        <img
          class="arrowDownImg"
          src="../../assets/img/arrow_down.svg"
          alt="Scroll down arrow"
        />
      </button>
      <div class="greenLineDown"></div>
    </div>

    <div class="edgeLine-right">
      <a
        href="mailto:kontakt@mihaela-melania-aghirculesei.de"
        class="vertical-text link-hover-dot-left email-link"
      >
        <span class="email-text"
          >kontakt&commat;mihaela-melania-aghirculesei.de</span
        >
        <img
          src="../../assets/img/landingPage/mail.svg"
          alt="Email"
          class="email-icon"
        />
      </a>
      <a
        href="https://github.com/MihaelaAghirculesei"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../assets/img/github_green.svg" alt="GitHub" />
      </a>
      <a
        href="https://www.linkedin.com/in/mihaela-aghirculesei-84147a23b/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../assets/img/linkedin_green.svg" alt="LinkedIn" />
      </a>
      <div class="hero-right-line"></div>
    </div>
  </div>
  <app-banner-section></app-banner-section>
</section>