<section class="headLine">
    <div class="contentWrapper">
      <h2>Frontend Developer</h2>
      <h1>Mihaela Melania</h1>
      <h1>Aghirculesei</h1>
  
      <div class="buttonDiv">
        <a href="#projects" class="link-button animated" data-text="Check my work">
          <span>Check my work</span>
        </a>
        <a href="#contact" class="link-button animated" data-text="Contact me">
          <span>Contact me</span>
        </a>
      </div>
  
      <div class="edgeLine-left">
        <button class="arrowDown">
          <img class="arrowDownImg" src="../../assets/img/arrow_down.svg" alt="">
        </button>
        <div class="greenLineDown"></div>
      </div>
     
      <div class="edgeLine-right">
        <p class="emailLandingpage">Emailadress</p>
        <img src="../../assets/img/github_green.svg" alt="GitHub">
        <img src="../../assets/img/linkedin_green.svg" alt="LinkedIn">
        <div class="whiteLineDown"></div>
      </div>
    </div>
  </section>
  
  <section class="bannerSection">
    <div class="bannerWrapper">
      <div class="banner">
        <div class="staticText">
          <p>Available for remote work</p>
          <p></p>
          <p>Frontend Developer</p>
          <p></p>
          <p>Open to work & learn</p>
          <p></p>
          <p>Based in Wolfsburg</p>
          <p></p>
        </div>
  
        <div class="scrollText">
          <p>Available for remote work</p>
          <p></p>
          <p>Frontend Developer</p>
          <p></p>
          <p>Open to work & learn</p>
          <p></p>
          <p>Based in</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>