<app-landing-page></app-landing-page>

<app-about-me></app-about-me>

@defer (on viewport) {
  <app-skills></app-skills>
} @placeholder {
  <div class="defer-ph defer-ph--700"></div>
}

@defer (on viewport) {
  <app-portfolio></app-portfolio>
} @placeholder {
  <div class="defer-ph defer-ph--700"></div>
}

@defer (on viewport) {
  <app-feedbacks></app-feedbacks>
} @placeholder {
  <div class="defer-ph defer-ph--450"></div>
}

@defer (on viewport) {
  <app-contact></app-contact>
} @placeholder {
  <div class="defer-ph defer-ph--100vh"></div>
}
