@import "../../../../styles/styles.scss";

.banner-container {
  @include scrollingBanner(-4deg, 60s);
  padding: 25px 0;
  bottom: 100px;
  left: 0;
  right: 0;

  .banner-track {
    gap: 0;

    span {
      font-size: 24px;
      font-weight: 400;
      margin-right: $spacing-xxxl;

      &.separator {
        font-size: 20px;
        margin-right: $spacing-xxxl;
      }
    }
  }
}

@media (max-width: $tablet-max) {
  .banner-container {
    bottom: 20px;
    padding: 20px 0;

    .banner-track {
      span {
        font-size: 20px;
        margin-right: $spacing-xl;

        &.separator {
          font-size: 18px;
          margin-right: $spacing-xl;
        }
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .banner-container {
    padding: 15px 0;

    .banner-track {
      span {
        font-size: 16px;
        margin-right: $spacing-lg;

        &.separator {
          font-size: 16px;
          margin-right: $spacing-lg;
        }
      }
    }
  }
}

@media screen and (width: 1024px) and (height: 600px),
  screen and (width: 1280px) and (height: 800px) {
  .banner-container.banner-container {
    position: static;
    margin-top: auto;
    margin-bottom: 20px;
  }
}
