<div class="banner-container">
  <div class="banner-track">
    <span>{{ 'banner.remoteWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.role' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.openToWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.location' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.skills' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.passion' | translate }}</span>
    <span>•</span>
  </div>
  <div class="banner-track" aria-hidden="true">
    <span>{{ 'banner.remoteWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.role' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.openToWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.location' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.skills' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.passion' | translate }}</span>
    <span>•</span>
  </div>
  <div class="banner-track" aria-hidden="true">
    <span>{{ 'banner.remoteWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.role' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.openToWork' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.location' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.skills' | translate }}</span>
    <span>•</span>
    <span>{{ 'banner.passion' | translate }}</span>
    <span>•</span>
  </div>
</div>