<section>
    <div class="legal-notice-container">
      <button class="close-btn" (click)="goBack()">&times;</button>
      <h1>{{ 'legalNotice.title' | translate }}</h1>

      <p>Mihaela Melania Aghirculesei<br />
      Springwiesen, 29<br />
      38446 Wolfsburg</p>

      <h2>{{ 'legalNotice.contact' | translate }}</h2>
      <p>{{ 'legalNotice.phone' | translate }}: +49 174 9627899<br />
        {{ 'legalNotice.email' | translate }}: kontakt&#64;mihaela-melania-aghirculesei.de</p>

      <p>{{ 'legalNotice.source' | translate }}: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
</section>