@import "./../../styles/styles.scss";


section{
    background: linear-gradient(to right, $gradientStart, $gradientEnd);
    @include dFlex(center, center);
    min-height: 100vh;
   
}
.contentWrapper{
    max-width: 1440px;
    padding: 0 40px;
    height: 100%;
    
    
    >p{
        @include text('Karla', 18px, white, 400);
    }
    >h1, h2, h3{
        font-family: 'Fira Code';

    }
    
}
a{
    color: white;
}
li{
    @include text('Karla', 18px, white, 400);
}