<section>
    <div class="legal-notice-container">
      <button class="close-btn" (click)="goBack()">&times;</button>
      <h1>Impressum</h1>

      <p>Mihaela Melania Aghirculesei<br />
      Springwiesen, 29<br />
      38446 Wolfsburg</p>

      <h2>Kontakt</h2>
      <p>Telefon: 01749627899<br />
        E-Mail: kontakt&#64;mihaela-melania-aghirculesei.de</p>

      <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
</section>