/* You can add global styles to this file, and also import other style files */
body {
    background-color: #141D2F;
    color: white; // Setzt die Textfarbe auf weiß, um Kontrast zu bieten
    margin: 0; // Entfernt Standard-Margins
  }