<section>
  <div class="content-width">
    <div class="footerWrapper">
      <div class="logoDiv">
        <a href="#header">
          <img
            src="../../../assets/img/navBar/1. Logo Mihaela_Melania(1).png"
            alt="logo"
            class="footer-logo"
          />
        </a>
        <div>
          <p>Web Developer</p>
          <p>Wolfsburg, Germany</p>
        </div>
      </div>
      
      <div class="copyright">
        <p>&copy; Mihaela Melania Aghirculesei <span>2025</span></p>
      </div>
      
      <div class="linkDiv">
        <a target="_blank" href="https://github.com/MihaelaAghirculesei" class="link-hover-dot-left">
          GitHub
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mihaela-aghirculesei-84147a23b/"
          class="link-hover-dot-left"
        >
          LinkedIn
        </a>
        <a href="mailto:kontakt@mihaela-melania-aghirculesei.de" class="link-hover-dot-left">
          Email
        </a>
               <a [routerLink]="'/legal-notice'" class="link-hover-dot-left">Legal Notice</a>
          {{ "app-footer.legalNotice" | translate }}
      </div>
    </div>
  </div>
</section>