<section>
  <div class="content-width">
    <div class="footerWrapper">
      <div class="logoDiv">
        <a href="#header">
          <img
            [src]="(isHovered ? 'assets/img/logo-hover.png' : 'assets/img/logo-normal.png')"
            (mouseenter)="isHovered = true" 
            (mouseleave)="isHovered = false"
            alt="logo"
            class="footer-logo"
          />
        </a>
        <div>
          <p>{{ 'footer.role' | translate }}</p>
          <p>{{ 'footer.location' | translate }}</p>
        </div>
      </div>
      
      <div class="copyright">
        <p>&copy; <span class="name-effect">Mihaela Melania Aghirculesei</span> <span class="year-highlight">2025</span></p>
      </div>
      
<div class="linkDiv">
  <a target="_blank" href="https://github.com/MihaelaAghirculesei" class="link-hover-dot-left">
    {{ 'footer.links.github' | translate }}
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/mihaela-aghirculesei-84147a23b/" class="link-hover-dot-left">
    {{ 'footer.links.linkedin' | translate }}
  </a>
  <a href="mailto:kontakt&#64;mihaela-melania-aghirculesei.de" class="link-hover-dot-left">
    {{ 'footer.links.email' | translate }}
  </a>
  <a routerLink="/legal-notice" class="link-hover-dot-left">
    {{ 'footer.legalNotice' | translate }}
  </a>
  <a (click)="openPrivacyPolicy()" class="link-hover-dot-left" style="cursor: pointer;">
    {{ 'footer.privacyPolicy' | translate }}
  </a>
</div>
    </div>
  </div>

  <div *ngIf="showLegalNotice" class="modal-overlay" (click)="closeLegalNotice()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeLegalNotice()">&times;</button>
      
      <h1>Impressum</h1>
      <p>Mihaela Melania Aghirculesei<br />
      Springwiesen, 29<br />
      38446 Wolfsburg</p>
      
      <h2>Kontakt</h2>
      <p>Telefon: 01749627899<br />
      E-Mail: kontakt&#64;mihaela-melania-aghirculesei.de</p>
      
      <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
  </div>
</section>